.button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  height: 60px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
}

.gradientButton {
  background: linear-gradient(88.23deg, #37366B 0.29%, #5C5B9F 42.18%, #59ABDA 97.3%);
  color: white;
}

.outlineButton {
  border: 2px solid #99DAEA;
  border-radius: 10px;
  color: #99DAEA !important;
}

.blur {
  position: absolute;
  height: 40px;
  left: 14px;
  right: 15px;
  bottom: 4px;
  background: linear-gradient(268.23deg, #37366B 2.7%, #5C5B9F 44.59%, #59ABDA 99.71%);
  filter: blur(40px);
  border-radius: 1000px;
  z-index: -1;
}

.isDisabled {
  background: #C3C9CD !important;
}
