.table {
  width: 100%;
}

.row {
  width: 100%;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  display: inline-grid;
  grid-template-columns: 2fr 0.8fr 0.8fr 0.8fr 1.3fr;
  height: 32px;

  &:nth-child(2n) {
    background: rgba(255, 255, 255, 0.1);
  }
}

.header {
  height: 20px;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.degrees {
  font-family: 'Gilroy', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}

.planetAdditionalInfo {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 33px;
  color: #B4B3FF;
}

.planet {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 12px;
  color: #FFFFFF;
}

.planetSign {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}

.isDeepSky {
  * {
    background: white !important;
    color: black !important;
  }

  background: white !important;
  color: black !important;}
