.background {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background: linear-gradient(88.23deg, rgba(61, 55, 119, 0.5) 0.29%, rgba(67, 89, 150, 0.5) 97.3%);
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #F0F0F3;
  box-shadow: -5px -5px 10px #FFFFFF, 5px 5px 10px rgba(174, 174, 192, 0.3), inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #FFFFFF;
  border-radius: 10px;
  width: 200px;
  height: 250px;
}

.freeDays {
  background: linear-gradient(88.23deg, #37366B 0.29%, #5C5B9F 42.18%, #59ABDA 97.3%), #F0F0F3;
  backdrop-filter: blur(19px);
  border-radius: 20px;
  padding: 5px;
  color: white;
  text-align: center;
  width: 120px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  background: linear-gradient(88.23deg, #37366B 0.29%, #5C5B9F 42.18%, #59ABDA 97.3%);
  box-shadow: 5px 5px 20px rgba(55, 54, 107, 0.3), inset 0 0 5px rgba(255, 255, 255, 0.15);
  border-radius: 10px;
}
