.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row {
  background: white;
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 33px;
  color: #5B6062;
  overflow-y: scroll;
  max-height: 33px;
  display: inline-grid;
  grid-template-columns: 3fr 1fr 1fr;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.outlined {
  border: 1px solid #59ABDA;
}

.isOpen {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #37366B !important;
}

.isMain {
  background: #F0F0F3;
}

.isCurrent {
  background: linear-gradient(0deg, #3C336C, #3C336C), #FFFFFF !important;
  color: white !important;
  svg {
    path {
      stroke: white !important;
      fill: transparent !important;
    }
  }
}
