.container {
  padding: 0 3px;
}

.slider_wrapper {
  height: 200px;
  overflow: hidden;
  background: url('./images/slider_bg.png') center center/cover no-repeat;
}

.slider_bar_wrapper {
  padding: 0 10px;
} 