.container {
  background: url('../../../images/orbitDesign.png') center center/cover no-repeat;
  height: 385px;
}

.arrow {
  position: absolute; 
  right: -15px;
  top: 20px;
};

.header {
  margin-bottom: 47px;
};

.video {
  margin-bottom: 30px;
}