.container {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
};

.avatar {
  position: absolute;
  z-index: 1;
  height: 64px;
  width: 64px;
  overflow: hidden;
  border-radius: 50%;
  bottom: -15px;

  &_container {
    height: 100%;
    width: 70px;
    position: relative;
    margin-right: 14px;
  };

  &_img {
    height: 100%;
  };
};

.user {
  height: 100%;
  display: flex;
  align-items: center;

  &_status {
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 3px solid #FFF;
    background: #22F010;
    position: absolute;
    bottom: -15px;
    z-index: 2;
  };

  &_name {
    color: #292E30;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  };

  &_level {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #967440;
    span {
      font-family: 'Gilroy';
      font-weight: 600;
      font-size: 11px;
      line-height: 11px;
    };
  };
};

.status {
  height: 100%;
  display: flex;
  align-items: center;
  &_icon {
    margin-right: 17px;
    &:last-child {
      margin-right: 0;
    }
  }
}
