.astro-processor-map {
  position: relative;

  .image {
    z-index: -1;
  }

  .main-info {
    color: #37366B;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    position: absolute;
    width: 100%;
  }

  .highlighted {
    height: 100%;
    width: 100%;
    background: rgba(255, 0, 0, 0.3);
    position: relative;
    transform: scale(0.72) rotate(45deg);
  }

  .additional-info {
    color: #292E30;
    font-family: 'Gilroy', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    position: absolute;
  }

  .sector {
    z-index: 2;
    position: absolute;
    overflow: hidden;
  }

  .sector-1, .sector-4, .sector-7, .sector-10 {
    width: 50%;
    height: 50%;

    .highlighted {
      transform: scale(0.72) rotate(45deg);
    }

    .main-info {
      text-align: center;
      bottom: calc(50% - 7.5px);
    }

    .additional-info {
      top: 20%;
      text-align: center;
    }
  }

  .sector-1 {
    bottom: 0;
    left: 25%;
  }

  .sector-4 {
    bottom: 25%;
    right: 0;
  }

  .sector-7 {
    top: 0;
    left: 25%;
  }

  .sector-10 {
    bottom: 25%;
    left: 0;
  }

  .sector-2, .sector-12 {
    bottom: 1px;
    width: 50%;
    height: 25%;

    .main-info {
      text-align: center;
      bottom: 5px;
    }

    .additional-info {
      text-align: center;
      top: 20%;
    }

    .highlighted {
      height: 200% !important;
    }
  }

  .sector-2 {
    left: 50%;
  }

  .sector-12 {
    left: 1px;
  }

  .sector-6, .sector-8 {
    top: 1px;
    width: 50%;
    height: 25%;

    .main-info {
      text-align: center;
      top: 5px;
    }

    .additional-info {
      text-align: center;
      bottom: 20%;
    }

    .highlighted {
      height: 200% !important;
      transform: translateY(-50%) scale(0.72) rotate(-45deg) !important;
    }
  }

  .sector-6 {
    left: 50%;
  }

  .sector-8 {
    left: 0;
  }

  .sector-9, .sector-11 {
    bottom: 50%;
    left: 2px;
    width: 25%;
    height: 50%;

    .main-info {
      text-align: left;
      bottom: calc(50% - 7.5px);
    }

    .additional-info {
      top: 20%;
      text-align: left;
    }

    .highlighted {
      width: 200% !important;
      transform: translate(-50%) scale(0.72) rotate(-45deg) !important;
    }
  }

  .sector-11 {
    bottom: 0;
  }

  .sector-9 {
    bottom: 50%;
  }

  .sector-3, .sector-5 {
    right: 1px;
    width: 25%;
    height: 50%;

    .main-info {
      text-align: right;
      bottom: calc(50% - 7.5px);
    }

    .additional-info {
      top: 20%;
      text-align: right;
    }

    .highlighted {
      width: 200% !important;
    }
  }

  .sector-5 {
    bottom: 50%;
  }

  .sector-3 {
    bottom: 0;
  }
}
