.main {
  background: #F0F0F3;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 100%;
  overflow: scroll;
}

.main > * {
  padding: 10px 16px;
  height: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Gilroy', sans-serif;
  border-top: rgba(184, 178, 178, 0.34) 0.5px solid;

  &:active {
    background: rgba(184, 178, 178, 0.34);
  }
}
